.Player {
  width: 100px;
  height: 100px;
  background: #420000;
}

.demo-1 {
  margin-top: 225px;
  &:hover {
    transform: rotate(3600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000deg);
  }
  transition: transform 18000s ease-out;
}