.Player {
  width: 100px;
  height: 100px;
  background: #420000;
}

.demo-1 {
  margin-top: 225px;
  transition: transform 18000s ease-out;
}

.demo-1:hover {
  transform: rotate(3600000000000000204708353338339018248542978458335855122671268200372967478681896027674155697219801649584544951359826276060678358751957882310263570432deg);
}
